<div class="container">
  <div class="container-left">
      <img class="imagotipo" src="/assets/images/imagotipo.png" alt="">
  </div>
  <div class="container-right">
      <h1 class="title">{{'singup.form.title' | translate}}</h1>
      <form  class="grid grid-container container-form " [formGroup]="sigUpForm" (ngSubmit)="submit()">
          <div class="col-12 md:col-10">
              <div class="grid grid-container">
                  <div class="col-12">
                      <label >{{'singup.form.label_user' | translate}}</label>
                      <input pInputText id="user" formControlName="user"/>
                      <div style="height: 30px">
                          <ng-container *ngIf="fieldValidate.focus(sigUpForm,'user')">
                              <div class="message-error">{{'global.required' | translate}}</div>
                          </ng-container>
                      </div>
                  </div>
                  <div class="col-12">
                    <label>{{'singup.form.label_name' | translate}}</label>
                    <input pInputText  id="name" autocomplete="name" formControlName="name"/>
                    <div style="height: 30px">
                        <ng-container *ngIf="fieldValidate.focus(sigUpForm,'name')">
                            <div class="message-error">{{'global.required' | translate}}</div>
                        </ng-container>
                    </div>
                </div>
                  <div class="col-12">
                      <label>{{'singup.form.label_password' | translate}}</label>
                      <input pInputText type="password" id="password" autocomplete="new-password" formControlName="password"/>
                      <div style="height: 30px">
                          <ng-container *ngIf="fieldValidate.focus(sigUpForm,'password')">
                              <div class="message-error">{{'global.required' | translate}}</div>
                          </ng-container>
                      </div>
                  </div>
                  <div class="col-12">
                    <label>{{'singup.form.label_email' | translate}}</label>
                    <input pInputText  id="email" autocomplete="email" formControlName="email"/>
                    <div style="height: 30px">
                        <ng-container *ngIf="fieldValidate.focus(sigUpForm,'email')">
                            <div class="message-error">{{'global.required' | translate}}</div>
                        </ng-container>
                    </div>
                </div>


                  <div class="col-12" style="justify-content: center; display: flex;">
                      <p-button type="submit" label="{{'singup.form.button_send' | translate}}" [style]="{'width': '200px' }" ></p-button>
                  </div>
                  <hr style="width: 100%; margin: 10px 0px">
                  <div style="width: 100%; color: white; text-align: center; opacity: 0.8;">
                    <a class="recovery-password" [routerLink]="['../sign-in']">
                      {{'singup.form.label_return' | translate}}</a>
                  </div>

              </div>
          </div>
      </form>
  </div>
</div>
<app-loading></app-loading>
