<zan-spinner [input_abrirSpinner]="openSpinner"></zan-spinner>

<div>
  <h2 style="font-size: 1.5rem; font-weight: 400;">Ask For Supportoth </h2>
  <hr>
</div>

<form class="grid grid-container container-form " [formGroup]="form">


    <div class="col-12 md:col-8">
                <label>Usuario: </label>
                <label>{{userId}}</label>
    </div>

    <div class="col-12 md:col-8">
                <label>Nombre: </label>
                <label>{{userName}}</label>
    </div>

    <div class="col-12 md:col-8">
          <label>Referente a:</label>
          <p-dropdown  [options]="list_koh" id="selected_koh "  formControlName="selected_koh"   [style]="{ 'width': '200px' }"  ></p-dropdown>
          <div style="height: 30px">
              <ng-container *ngIf="fieldValidate.focus(form,'selected_koh')">
                  <div class="message-error">requerido</div>
              </ng-container>
          </div>

    </div>


    <div class="col-12 md:col-8">
        <label>Asunto:</label>
        <input pInputText id="asunto" formControlName="asunto"   />
        <div style="height: 30px">
          <ng-container *ngIf="fieldValidate.focus(form,'asunto')">
            <div class="message-error">Requerido</div>
          </ng-container>
        </div>
    </div>


    <div class="col-12 md:col-12">
      <label>Descripción detallada:</label>
      <textarea  id="descripcion" formControlName="descripcion"  rows="4" cols="50" style="width: 100%;height: 100px;"  ></textarea>

      <div style="height: 30px">
        <ng-container *ngIf="fieldValidate.focus(form,'descripcion')">
          <div class="message-error">Requerido</div>
        </ng-container>
      </div>
    </div>

    <div class="col-12 md:col-2 ">
      <p-button type="button" label="Enviar"
                (onClick)="fn_Send()"
                [style]="{ 'width': '100px' }"   > </p-button>
    </div>
    <div class="col-12 md:col-2 ">
      <p-button type="button" label="Cancelar"
                (onClick)="fn_cancel()"
                [style]="{ 'width': '100px' }"   >
      </p-button>
    </div>




</form>

<zan-supportth-alert [inputo_MsjParams]="msjParamsAlert" > </zan-supportth-alert>

