<div>
  <h2 style="font-size: 1.5rem; font-weight: 400;">Seleccionar nueva evaluación del nivel de palabras </h2>
  <hr>
</div>
<div style="padding-top: 15vh;">





  <form class="grid grid-container container-form" [formGroup]="formLevel">
    <div class="col-6">
      <label>Levels</label>

      <p-dropdown formControlName="cboLevel" id="cboLevel" [options]="listLevel" placeholder="Seleccionar">
      </p-dropdown>

      <div style="height: 50px">
        <ng-container *ngIf="fieldValidate.focus(formLevel,'cboLevel')">
          <div class="message-error">Requerido.</div>
        </ng-container>
      </div>

    </div>

    <div class="col-12" style="justify-content: center; display: flex;">
      <p-button type="button" label="Crear" [style]="{ 'width': '200px' }" (onClick)="submit()">
      </p-button>
    </div>

  </form>


</div>
